@import '~antd/es/style/themes/variable.less';

.app-setting-container {
  position: fixed;
  right: -18px;
  bottom: 30px;
  color: @primary-color;
  cursor: pointer;
  transition: all .5s ease-in-out;
  &:hover {
    right: 10px;
  }
}
