@import '~antd/es/style/themes/variable.less';

.app-sketch-picker {
  position: relative;
  width: 120px;
  color: @blue-7;
  &-palette{
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    border: 1px solid @border-color-base;
    &-color {
      margin: 2px;
      border-radius: 4px;
      height: 28px;
      line-height: 28px;
    }
  }
  &-content{
    margin-top: 6px;
  }
}
