.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  &-left {
    flex: 1;
    &-image {
      background-size: cover;
    }
  }
  &-right {
    width: 600px;
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 80px;
    }
  }
}
